<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Orangetasteboy">
    <title>개인정보 수정</title>

    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-free-5.15.4-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/reset.css">
    <link rel="stylesheet" href="../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/modify.css">
</head>
<body>
<div id="root">
    <header>
        <div class="header container">
            <div id="btn-menu" class="btn-menu">
                <img src="../static/assets/img/menu_white_48dp.svg" alt="">
            </div>
            <div class="logo">
                <img src="../static/assets/img/logo.png" alt="">
            </div>
        </div>
    </header>

    <div id="layer" class=""></div>

    <nav id="gnb" class="">
        <button type="button" id="btn-close_menu">
            <img src="../static/assets/img/close_white_24dp.svg" alt="">
        </button>
        <ul>
            <li class="sub_title">
                <h4>사용자 기능</h4>
            </li>
            <li>
                <span><a href="/main">홈</a></span>
            </li>
            <li>
                <span><a href="/list">과거 식단 조회 및 분석</a></span>
            </li>
            <li class="sub_title">
                <h4>식단 추가</h4>
            </li>
            <li>
                <span><a href="/pic_upload">오늘 먹은 식단 추가하기</a></span>
            </li>
            <li class="sub_title">
                <h4>개인정보 관리</h4>
            </li>
            <li>
                <span><a href="/modify">개인정보 변경</a></span>
            </li>
        </ul>
    </nav>

    <main>
        <div class="section-item container">
            <form method="post" action="/modify_process" enctype="multipart/form-data">
            <div class="section-item-title">
                <span>개인 정보 수정</span>
            </div>
            <div class="section-item-content white-bg-box">
                <div id="subj_name"><h5>이름</h5></div>
                <div class="name">
                    <input id="name" name = "name" type="text" placeholder="이름을 입력해 주세요." value="{{ info[0] }}">
                    <div id="nameError" class="error"></div>
                </div>
                <br>
                <div id="subj_password"><h5>비밀번호</h5></div>
                <div class="password">
                    <input id="password" type="password" name="pw" placeholder="비밀번호를 입력해 주세요.">
                    <div id="passwordError" class="error"></div>
                </div>
                <div class="passwordCheck">
                    <input id="passwordCheck" type="password" placeholder="비밀번호를 다시 입력해 주세요.">
                    <div id="passwordCheckError" class="error"></div>
                </div>
                <br>
                <div id="subj_phone"><h5>휴대폰 번호</h5></div>
                <div class="phone">
                    <input id="phone" name="phone" style="width: 400px" type="text" size="20" maxlength="11"
                           oninput="changePhone1()" placeholder="휴대폰 번호를 입력해주세요." value="{{ info[2] }}">
                </div>
                <br>
                <div id="subj_email"><h5>이메일</h5></div>
                <div class="email">
                    <input id="email" type="email" name="email" placeholder="이메일을 입력해 주세요." value="{{ info[3] }}">
                </div>
                <br>

                <div id="subj_property"><h5>나의 관심 분야</h5></div>
                <br>
                &nbsp&nbsp<input id="pregnant" type="checkbox" name="pregnant">
                <label for="pregnant"> <span></span>임산부</label>
                <br>
                &nbsp&nbsp<input id="diabetes" type="checkbox" name="diabetes">
                <label for="diabetes"> <span></span>당뇨</label>
                <br>
                &nbsp&nbsp<input id="high" type="checkbox" name="high">
                <label for="high"> <span></span>고혈압</label>
                <br>
                &nbsp&nbsp<input id="face" type="checkbox" name="face">
                <label for="face"> <span></span>피부 미용</label>
                <br>
                &nbsp&nbsp<input id="fitness" type="checkbox" name="fitness">
                <label for="fitness"> <span></span>운동</label>
                <br>
                &nbsp&nbsp<input id="none" type="checkbox" name="none">
                <label for="none"> <span></span>해당 없음</label>
            </div>
            <br><br>
            <div class="signUp">

                <input type="submit" id="modify" value="수정하기">

            </div>
            </form>
        </div>
</div>
</main>
</div>

<script src="../static/assets/js/main.js"></script>
</body>
</html>
